html {
    width: 100%;
    height: 100%;

}

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

body {
    color: white;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-image: url("images/arnold.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container label {
    margin-bottom: 10px;
    display: flex;

}

.container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
}

.container .submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #555;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.container .submit:hover {
    background-color: #777;
}

table {
    margin-top: 20px;
    border: 1px solid #444;
    background-color: #333;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow-x: auto;
}


th,
td {
    padding: 10px;
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
}

th {
    background-color: #222;
}

tr:hover {
    background-color: #555;
}

h2 {
    text-align: center;
}

section.search {
    margin: 20px;
    text-align: left;
}

#searchworkouts {
    padding-top: 55px;
}

.search input {
    width: 200px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    border-radius: 50px;
}

#dropdown {
    background-color: #504f4f;
    border-radius: 50px;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 10px;
    width: 200px;
  }
  
  #dropdown option {
    background-color: #504f4f;
    color: white;
  }
  
  #dropdown::-ms-expand {
    display: none;
  }
  
  #dropdown:hover,
  #dropdown:focus {
    background-color: #333;
  }
  .sorteer{
    display: flex;
    flex: auto;
    justify-content: flex-start;
    align-items: center;
  }


  