*{
    padding: 0;
    margin: 0;
}

.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Add this property */
  align-items: center; /* Add this property */
  top: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.nav-links {
  list-style-type: none;
  padding: 8px;
  display: flex; /* Add this property */
}

.nav-links li {
  display: inline-block;
  margin-right: 10px; /* Add some spacing between links */
}

.nav-links li:last-child {
  margin-right: 0; /* Remove margin from the last link */
}

.nav-links li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-links li a:hover {
  background-color: #111;
}

.navbar-text {
  font-size: 16px;
  color: #fff;
  padding: 0 0 0 80px;
}

.logout-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #201e1e;
  color: #fff;
  text-decoration: none;
}

.logout-button:hover {
  background-color: #000000;
}
.nav-rechts{
  padding-right: 30px
}